<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Strength Tracker</title>
  <link rel="stylesheet" href="/web/css/pico.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
</head>

<body>

<div role="group">
   <a href="/">
    <button class="outline primary"><i class="fa-solid fa-arrow-left"></i></button>
  </a>
  <h1>Add exercise</h1>
</div>

<form action="/exercise/add" method="POST"></form>
  <fieldset class="grid">
    <input 
      name="name"
      placeholder="Name"
    />
    <input
      name="muscleGroup"
      placeholder="Muscle Group"
    />
    <input
      type="submit"
      value="Save"
    />
  </fieldset>
</form>

</body>

</html>