<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Strength Tracker</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>

<body>

<h1>Add exercise</h1>

<form action="/exercise/add" method="POST"></form>
  <fieldset class="grid">
    <input 
      name="name"
      placeholder="Name"
    />
    <input
      name="muscleGroup"
      placeholder="Muscle Group"
    />
    <input
      type="submit"
      value="Save"
    />
  </fieldset>
</form>

</body>

</html>