{{define "template"}}
<div class="center">
  <h1>{{T "strengthHistory"}}</h1>
</div>
<div class="center">
  <h2>{{.Name}} ({{.MuscleGroup}})</h2>
</div>
<div>
  <canvas id="historyChart"></canvas>
</div>
<table>
    <tr>
        <th>{{T "date"}}</th>
        <th>{{T "load"}}</th>
    </tr>
    <tr>
        {{range .StrengthHistory}}
            <tr>
                <td class="date">{{.Date}}</td>
                <td class="load">{{.Load}}</td>
                <td>
                    <form action="/strength/edit/{{.Id}}">
                        <button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
                    </form>
                    <form action="/strength/delete/{{.Id}}">
                        <button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {{end}}
    </tr>
</table>
<form action="/strength/add/{{.Id}}">
  <input type="submit" value='{{T "addStrength"}}' />
</form>
<script>
  function formatLoad(load) {
    load = load.replace(".", ",");
    load += " kg";
    return load;
  }
  function formatDate(date) {
    date = new Date(date);
    const options = {year: "numeric", month: "2-digit", day: "2-digit"};
    date = date.toLocaleDateString("default", options);
    return date;
  }
</script>
<script>
  const ctx = document.getElementById('historyChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{.Dates}},
      datasets: [{
        label: '{{T "load"}}',
        data: {{.Loads}},
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        tooltip: {
          callbacks: {
            title: (tooltipItem, data) => {
              return formatDate(tooltipItem[0].label)
            },
            label: (tooltipItem, data) => {
                return formatLoad(tooltipItem.formattedValue);
            }
          }
        }
      },
      scales: {
        y: {
          beginAtZero: false,
          ticks: {
            callback: function(value) {
              return formatLoad(this.getLabelForValue(value));
            }
          }
        },
        x: {
          ticks: {
            callback: function(value) {
              return formatDate(this.getLabelForValue(value));
            }
          }
        },
      }
    }
  });
</script>
{{end}}