<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Strength Tracker</title>
  <link rel="stylesheet" href="/web/css/pico.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
  <script src="/web/js/chart.min.js"></script>
  <script src="/web/js/format.js" defer></script>
</head>

<div role="group">
   <a href="/">
    <button class="outline primary"><i class="fa-solid fa-arrow-left"></i></button>
  </a>
  <h1>History of {{.Name}} ({{.MuscleGroup}})</h1>
</div>

<div>
  <canvas id="historyChart"></canvas>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Load</th>
    </tr>
    <tr>
        {{range .StrengthHistory}}
            <tr>
                <td class="date">{{.Date}}</td>
                <td class="load">{{.Load}}</td>
                <td>
                    <form action="/strength/edit/{{.Id}}">
                        <button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
                    </form>
                    <form action="/strength/delete/{{.Id}}">
                        <button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {{end}}
    </tr>
</table>

</body>

<script>
  function formatLoad(load) {
    load = load.replace(".", ",");
    load += " kg";
    return load;
  }
  function formatDate(date) {
    date = new Date(date);
    const options = {year: "numeric", month: "2-digit", day: "2-digit"};
    date = date.toLocaleDateString("default", options);
    return date;
  }
</script>

<script>
  const ctx = document.getElementById('historyChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{.Dates}},
      datasets: [{
        label: "Load",
        data: {{.Loads}},
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        tooltip: {
          callbacks: {
            title: (tooltipItem, data) => {
              return formatDate(tooltipItem[0].label)
            },
            label: (tooltipItem, data) => {
                return formatLoad(tooltipItem.formattedValue);
            }
          }
        }
      },
      scales: {
        y: {
          beginAtZero: false,
          ticks: {
            callback: function(value) {
              return formatLoad(this.getLabelForValue(value));
            }
          }
        },
        x: {
          ticks: {
            callback: function(value) {
              return formatDate(this.getLabelForValue(value));
            }
          }
        },
      }
    }
  });
</script>

</html>
