<!DOCTYPE html>
<html lang='{{T "language"}}'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{T "title"}}</title>
		<link rel="icon" type="image/x-icon" href="/web/assets/favicon.ico">
		<link rel="manifest" href="/web/manifest.json">
		<link rel="stylesheet" href="/web/css/pico.min.css">
		<link rel="stylesheet" href="/web/css/style.css">
		<link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
		<script src="/web/js/chart.min.js"></script>
		<script src="/web/js/format.js"></script>
		<script src="/web/js/chartSettings.js"></script>
		<script src="/web/js/eventListener.js" defer></script>
	</head>
	<script>
		if ("serviceWorker" in navigator) {
		  navigator.serviceWorker.register("/service-worker")
		    .catch(err => console.error("Service Worker failed", err));
		}
	</script>
	<body>
		<header class="center">
      <a href="/">
        <button class="outline primary"><i class="fa-solid fa-home"></i></button>
      </a>
		</header>
	  <main class="container-fluid">
			{{template "template" .}}
		</main>
	</body>
</html>