<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Strength Tracker</title>
</head>

<body>
  <a href="/exercise/add">add</a>

  <table>
    <tr>
      <th>Muskelgruppe</th>
      <th>Übung</th>
      <th>Kraftverlauf</th>
    </tr>
    <tr>
      {{range .}}
        <td><a href="/exercise/edit/{{.Id}}">edit</a></td>
        <td><a href="/exercise/delete/{{.Id}}">delete</a></td>
        <td><a href="/strength/add/{{.Id}}">add weight</a></td>
        <td>{{.MuscleGroup}}</td>
        <td>{{.Name}}</td>
        <td>
          <ul>
            {{range .StrengthHistory}}
              <li>{{.Date}}</li>
              <li>{{.Load}}</li>
              <li><a href="/strength/edit/{{.Id}}">edit</a></li>
              <li><a href="/strength/delete/{{.Id}}">delete</a></li>
            {{end}}
          </ul>
        </td>
      {{end}}
    </tr>
  </table>
</body>

</html>