<!DOCTYPE html>
<html lang='{{T "language"}}'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{T "title"}}</title>
  <link rel="icon" type="image/x-icon" href="/web/assets/favicon.ico">
  <link rel="stylesheet" href="/web/css/pico.min.css">
  <link rel="stylesheet" href="/web/css/center.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
  <script src="/web/js/format.js" defer></script>
</head>

<body>

  <header>
    <h1 class="center">Strength Tracker</h1>
  </header>

  <main class="container-fluid">
    <div class="table-cards">
      <table>
        <thead>
          <tr>
            <th>{{T "exercise"}}</th>
            <th>{{T "strength"}}</th>
            <th>{{T "action"}}</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td>
              <div>{{.Name}}</div>
              <div>({{.MuscleGroup}})</div>
            <td>
              <div class="load">{{.LastStrength.Load}}</div>
              <div class="date">{{.LastStrength.Date}}</div>
              <form action="/exercise/history/{{.Id}}">
                <button type="submit" class="secondary"><i class="fa-solid fa-clock-rotate-left"></i></button>
              </form>
            </td>
            <td>
              <article>
                <form action="/strength/add/{{.Id}}">
                  <button type="submit"><i class="fa-solid fa-plus"></i></button>
                </form>
                <form action="/exercise/edit/{{.Id}}">
                  <button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
                </form>
                <form action="/exercise/delete/{{.Id}}">
                  <button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
                </form>
              </article>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <form action="/exercise/add">
      <input type="submit" value='{{T "addExercise"}}'/>
    </form>
  </main>

</body>

</html>