.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

table button {
  margin-bottom: 0 !important;
}

th, td {
  text-align: center; 
  vertical-align: middle;
}
