{{define "template"}}
<div class="center">
  <h1>{{T "addStrength"}}</h1>
</div>
<div class="center">
	<h2>
      <i class="fa-solid fa-dumbbell"></i> {{.Name}} 
      <i class="fa-solid fa-bone"></i> {{.MuscleGroup}} 
      {{if .Machine}}
		    <i class="fa-solid fa-gear"></i> {{.Machine}}
		  {{ end }}
	</h2>
</div>
<form action="/strength/add/{{.Id}}" method="POST">
  <div><input name="date" type="date" required></div>
  <div><input name="load" type="number" step="0.1" placeholder='{{T "load"}}'></div>
  <div><input name="repetitions" type="number" step="1" placeholder='{{T "repetitions"}}'></div>
  <div><input type="submit" value='{{T "save"}}'></div>
</form>
{{end}}