{{define "template"}}
<div class="center">
  <h1>{{T "editStrength"}}</h1>
</div>
<form action="/strength/save/{{.Id}}" method="POST">
  <div><input name="date" value="{{.Date}}" type="date" required></div>
  <div><input name="load" value="{{.Load}}" type="number" step="0.1" placeholder='{{T "load"}}'></div>
  <div><input name="repetitions" value="{{.Repetitions}}" type="number" step="1" placeholder='{{T "repetitions"}}'></div>
  <div><input type="submit" value='{{T "save"}}'></div>
</form>
{{end}}