<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Strength Tracker</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>

<body>

<h1>Editing strength</h1>

<form action="/strength/save/{{.Id}}" method="POST">
    <div><input name="date" placeholder="{{.Date}}" type="date"></div>
    <div><input name="load" placeholder="{{.Load}}" type="number"></div>
    <div><input type="submit" value="Save"></div>
</form>

</body>

</html>
